body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

a {
   color: Aquamarine;
   font-size: 16px;
}

.introduction video {
  margin-top: 30px;
}

.feature {
  margin-bottom: 30px;
}

.feature p {
  font-size: 21px;
  color: gray;
}

.comingSoon a {
  margin-bottom: 20px;
}

footer p {
  text-align: right;
  color: gray;
}
